:root{
--primaryColor: hsl(20, 19%, 88%);
  --tertiaryColor: hsl(348, 100%, 68%);
  --mainColor: hsl(24, 79%, 85%);
  --caramelColor: hsl(27, 48%, 40%);
  --cherryColor: hsl(1, 92%, 40%);
  --cocoaColor: hsl(358, 61%, 11%);
  --backgroundColor: hsl(20, 10%, 94%);
}

body{
    background-color:var(--backgroundColor);
    color: var(--caramelColor);
}
.navbar{
    display:flex; 
    justify-content:space-around;
 background-color: #9656a1;   
}
.img-logo{
    width: 50px;
    height: 50px;
}
.navbarlist{
    display:flex;

    gap: 16px;
    align-items: center;
}